
//max-width 992px
@media only screen and(max-width:992px){
    // Sidebar/menu
nav{
    display: none;
    z-index: 3;
    i.remove-icon{
        display: block !important;
    }
}
// The Apartment/Page Content
.right-side{
    margin-left: 0;
    margin-top: 80px;
}
header{
    visibility: visible;
    a{
        z-index:30 !important; 
       
    }
}
   //  Subscribe/Modal
   .subscribe-modal{

    .modal-content{
      width: 600px !important;
    }
}

}

// max-width 768px
@media only screen and(max-width:768px){
      //  Subscribe/Modal
      .subscribe-modal{
        padding-top: 50px !important;
        .modal-content{
          width: 500px !important;
        }
    }
}

//max-width 600px
@media only screen and(max-width:600px){
    // The space
    .space{
        p{
            button.search{
                width: 100% !important;
            }
        }
    }
    //Contact
    .contact{
        form{
            button{
                width: 100% !important;
            }
        }
    }
    //  Subscribe/Modal
    .subscribe-modal{
        padding-top: 50px !important;
        .modal-content{
            margin: 0 10px !important;
            width: auto !important;
        }
    }
}